<body>
  <h1>Lorem Ipsum Generator</h1>
  <hr />
  <p>
     I've created this Lorem Ipsum text generator as a fun side project to get some practice with NodeJS. I used both the NodeJS course on <a href="https://teamtreehouse.com/" target="_blank">Treehouse</a> and another <a href="https://github.com/trohweder85/ipsum" target="_blank">Lorem Ipsum generator</a> as a guide on how to setup this app.
  </p>
  <form action="/" method="POST">
    <label for="numberOfParagraphs">Enter number of paragraphs to generate:</label>
    <input type="number" id="numberOfParagraphs" name="numberOfParagraphs">
    <input type="submit" value="generate" class="button">
  </form>
  <div class="text-wrapper">
    <div class='lorem-ipsum-container'></div>
  </div>
