<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lorem Ipsum Generator</title>
</head>
<body>
  <form action="/" method="POST">
      <input type="number" placeholder="Enter the number of pargraphs you'd like to generate" id="numberOfParagraphs" name="numberOfParagraphs">
      <input type="submit" value="generate" class="button">
  </form>
  <div class='lorem-ipsum-container'></div>
</body>
</html>
