<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="Stranger Ipsum">
  <meta property="og:image" content="http://stranger-ipsum.robertcooper.me/stranger-ipsum-title.png">
  <meta property="og:description" content="A lorem ipsum application that generates random quotes from the Netflix original series 'Stranger Things' (Season 1 and 2)">
  <meta name="twitter:card" content="summary_large_image">
  <title>Stranger Ipsum</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80196253-8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-80196253-8');
  </script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>
  <div id='root'></div>
</body>

</html>