@import url(https://fonts.googleapis.com/css?family=Poppins:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://necolas.github.io/normalize.css/3.0.2/normalize.css);

body {
  color: #0D0630;
  background-color: #000;
  text-align: center;
  margin: 40px auto;
  max-width: 800px;
  padding: 0 40px;
  font: 16px 'Open Sans', sans-serif;
}

p {
  font-size: 20px;
}

form {
  margin-top: 25px;
  margin-bottom: 25px;
}

hr {
  border-color: #00171F;
  width: 400px;
  margin-bottom: 30px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  font-size: 16px;
  padding: 5px;
  margin: 10px 0;
  text-align: center;
  border: 1px solid #fff;
  color: #2C3238;
}

input:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.video-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.main-content {
  z-index: 10;
}

.title-image {
  max-width: 100%;
  width: 500px;
  box-shadow: 0px 0px 40px 20px #000;
  margin-bottom: 20px;
}

.description {
  font-family: 'Poppins';
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  word-spacing: 3px;
  letter-spacing: 1px;
}

.paragraph-number {
  max-width: 80px;
  margin: 0;
  margin-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 37px;
  transition: box-shadow 500ms;
}

.paragraph-number:focus {
  box-shadow: 0px 0px 50px 5px #f61b1b;
}

.generate-button,
.copy-button {
  font-family: 'Poppins', Helvetica, serif;
  border-width: 0px;
  padding: 6px 12px;
  background-color: #f61b1b;
  color: #fff;
  transition: background-color 500ms, color 500ms, box-shadow 500ms;
}

.copy-button:hover {
    cursor: pointer;
}

.generate-button:hover,
.copy-button:hover,
.generate-button:focus,
.copy-button:focus {
  background-color: #000;
  color: #f61b1b;
  box-shadow: 0px 0px 50px 5px #f61b1b;
  outline: none;
}

.copy-button {
  display: inline-block;
  text-decoration: none;
  margin-top: -20px;
}

.generated-text {
  padding: 20px;
  color: #313131;
  background-color: #fff;
  box-shadow: #fff 0px 0px 5px 4px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.generated-text p {
  font-size: 16px;
  text-align: left;
  animation: fadein 2s;
}

.generated-text p:first-child {
  margin-top: 0;
}

.generated-text p:last-child {
  margin-bottom: 0;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#copyOverlay {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  left: 0;
  height: 100vh;
  z-index: 100;
  transition: opacity 1.5s linear;
}

.modal--show {
    visibility: visible;
    opacity: 0;
}

.modal--hidden {
    visibility: hidden;
    opacity: 1;
    transition: visibility 0s 1.5s;
}

#copyText {
  margin-top: 40vh;
}

#copyText p {
  font-size: 30px;
  font-family: 'Poppins';
  font-weight: bold;
  color: #fff;
}

.github-button-wrapper {
    display: block;
    margin-top: 2rem;
}